
${gyoshaName}　殿

${systemName}より作業依頼のご連絡です。

お客様より作業を承りました。
下記URLより内容をご確認頂き、対応（修理）をお願い致します。

${sagyoIraiUrl}
弊社受付番号：${toiawaseNo}

尚、対応完了後、上記URLより結果の入力をお願いします。

このメールは、配信専用のアドレスで配信されています。
このメールに返信されても、返信内容の確認およびご返答ができません。
あらかじめご了承ください。
このメールの内容についてのお問い合わせは、
下記の連絡先までメール、または電話でお願いします。

連絡先：${contactInformation}
${returnMailAddress}

---------------
${noticeCompanyNm}
---------------
