
${realEstateName}　様

平素は格別のご高配を賜り、厚く御礼申し上げます。
コールセンター受付案件について、下記ＵＲＬよりご確認をお願い致します。

${transitionUrl}

このメールは、配信専用のアドレスで配信されています。
このメールに返信されても、返信内容の確認およびご返答ができません。
あらかじめご了承ください。
このメールの内容についてのお問い合わせは、
下記の連絡先までメール、または電話でお願いします。

${contactInformation}
${returnMailAddress}

---------------
${noticeCompanyNm}
---------------
